@media (max-width: 1200px) {

    .gallery__content h3 {
        left: 12%;
    }

    .gallery__content p {
        left: 6%;
    }
}

@media (max-width: 991px) {

    .gallery__content p {
        top: 100%;
    }

    .gallery__content h3 {
        top: 80%;
        left: 3%;
    }
}

@media (max-width: 825px) {
    .nav-link {
        font-size: 0.860rem;
    }
}

@media (max-width: 767px) {
    .our-team__persons img {
        width: 268px;
        height: 268px;
    }

    .footer-nav {
        font-size: 0.7rem;
        padding: 0;
        margin: 0;
    }

    .gallery__content p {
        top: 100%;
        left: 10%;
    }

    .gallery__content h3 {
        top: 80%;
        left: 20%;
    }
}

@media (max-width: 600px) {

    body,
    html {
        overflow-x: hidden;
    }
}

@media(max-width:575px) {

    .gallery__content h3,
    p {
        left: 32%;
        font-size: 1.7rem;
        top: 54%;
    }

    .gallery__content p {
        top: 70%;
        left: 15%;
    }

    .form-control {
        width: auto;
    }
}

@media(max-width:510px) {

    .gallery__content h3,
    p {
        font-size: 1.4rem;
    }
}

@media(max-width:442px) {

    .gallery__content h3,
    p {
        font-size: 1.2rem;
    }
}

@media(max-width:370px) {

    .gallery__content p {
        font-size: 1rem;
        left: 15%;
        top: 80%;
    }

    .gallery__content h3 {
        top: 60%;
        left: 30%;
    }
}

@media(max-width:343px) {
    .navbar-brand {
        display: none;
    }
}